@page

@using Pages.Web.Pages.About;
@using Pages.Data.Scaffolding.Models;

@model The_TeamModel

@foreach(User user in Model.Users)
{
    <div class="user_card">
        <p>@user.Name</p>
    </div>
}
