@model List<Employee>

@{ViewBag.Title = "Membership";}

<table cellspacing="0" class="table admin_table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @foreach(Employee employee in Model)
    {
        <tr>
            <td>
                @employee.Id
            </td>
            <td>
                @employee.Name
            </td>
            <td>
                @employee.Email
            </td>
        </tr>
    }
</table>