::-webkit-scrollbar
{
   display:none;
}

body{
    overflow-y:scroll;
    overflow-x:hidden;
    width:calc(100% + 8px);
}

body::-webkit-scrollbar
{
    width:8px;
    display:inline-block;
}

body::-webkit-scrollbar-thumb
{
    background-color:#AAA;
    border-radius:8px;
}

ul, p { margin: 0; padding: 0; }
body { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin: 0; padding: 0 0 20px 0; }
a { color: #606; text-decoration: none; }

.clearfloats { display: table; content: ""; clear: both; }

.spacer.spacer_medium{margin:20px 0;}
.spacer.top_spacer_medium {margin-top:20px}
.spacer.top_spacer_large { margin-top: 75px; }
label.spacer.spacer_medium{display:block; margin:20px 0 10px 0;}

.table.admin_table { width: 100%; }
    .table.admin_table th { text-align: left; background-color: #999; }
    .table.admin_table tr:nth-child(2n+1) { background-color: #AAA; }
    .table.admin_table th, .table.admin_table td {padding:5px;}

    .table.admin_table.tiny{max-width:600px;}
wrapper { margin: 0 auto; display: block; width: 90%; max-width: 1400px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

wrapper.content
{
    margin-top:75px;
    padding:0 10px;
}

header { width: calc(100% + 8px); height: 50px; background-color: #CCC; position: absolute; top: 0; }
nav ul { list-style: none; list-style-type: none; display: block; }
    nav ul li { display: inline-block; text-align: center; }
        nav ul li a, nav ul li p { display: inline-flex; -webkit-align-items: center; align-items: center; text-align: center; align-content: center; align-items: center; height: 50px; padding: 0 10px; color: #6B6B6B; font-style: normal; text-decoration: none; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif }
            nav ul li a:visited { color: #6B6B6B; }
            nav ul li a:hover, nav ul li a.current, nav ul li p:hover { color: #0B0B0B; }

/*#region Messages */
.error { color: #F00; }
.error.inner_exception {color:#FA5;}
.error.inner_exception_message{display:none;}

.success { color: #0A0; }
/*#endregion */

.parent_menu { float: left; position:relative;}
.parent_menu:hover > .sub_menu { height: auto; overflow:visible;}

.sub_menu {  position:absolute; right:-100%; left:-100%; height: 0px; overflow: hidden; }
    .sub_menu li { display: block;}

    .sub_menu_container{display:inline-block;  background-color: #DDD;}
        .sub_menu_container li a { width: 100%; display: block; line-height: 50px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

ul.right { float: right; }

.section_left, .section_right { height: calc(100vh - 100px); display: inline-block; }
.section_left { width: 40%; }
.section_right { width: 60%; float: right; }
